<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,140},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,210},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,280},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,350},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{0,420},{100,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banglist.png</string>
            <key>size</key>
            <string>{100,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66876920045114094d8479a092005235:83349b8844db9aaabf0513b905a3cb51:373aa4d2d6862885bde01f8b74860f63$</string>
            <key>textureFileName</key>
            <string>banglist.png</string>
        </dict>
    </dict>
</plist>
